body {
    background-color: aquamarine;
}

.head {
    width: 50%;
    margin-left: 40%;
    font-family: monospace;
}

.main {
    width: 50%;
    margin-left: 40%;
}

button {
    font-family: monospace;
}

input {
    height: 35px;
    width: 300px;
}